





              <div class="mat-title"  fxLayoutAlign="center "  style=" font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 30px;text-decoration: underline;text-decoration-color: #22314f;opacity: 0.5;">
                            Welcome to ePortal
                     </div>
       
                     <div class="mat-body-1" fxLayoutAlign="center " style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:15px;scroll-margin-top: 20px;color: #22314f"> 
                            This is the only place where you can reach many schools at once. <br> 
                             Not only reaching them, you can also apply directly to the preferred  <br> 
                                    one(s) from here. <br>
                             Your education matters, and just say Yes, because we are The <br> bridge to your education. <br>
                             You are almost there, just sign up to navigate through the steps.
                            </div>
             
                       
                  
            
       
             
             
                    <mat-tab-group dynamicHeight class=" matgroup"  fxLayout="column" fxLayoutAlign="center " style="width: 60%;margin-left: 200px;margin-top: 5%" > 
                   
       
                                   <mat-tab label="Mission"  >  
                            
                         
                                                 <div class="mat-title" style="text-align: center;color: #22314f">Mission</div>
                                                 <div class="mat-body-1">
                    
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                                 </div>
                                   
                        
                                   
                                  
                        
                        
                                    
                            
                            </mat-tab>
                   
                     
             
             
             
                     <mat-tab label=" Why ePortal">  
                         
                             
                             <div class="mat-title" style="text-align: center;color: #22314f">Why ePortal</div>
                             <div class="mat-body-1">
             
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                             </div>
                     
                     </mat-tab>
                     <mat-tab label="Education"> 
             
                             <div class="mat-title" style="text-align: center;color: #22314f">Education</div>
                             <div class="mat-body-1">
             
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                             </div>
                     
                            
                          </mat-tab>
             
                          <mat-tab label="  Who own ePortal">
                                
                                 <div class="mat-title" style="text-align: center;color: #22314f">Who own ePortal</div>
                             <div class="mat-body-1">
             
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eius, nulla consequuntur quas consectetur, quibusdam sit explicabo voluptate distinctio animi cum nam, rerum et blanditiis aut magni totam libero aspernatur.</p>
                             </div>
                     
                          </mat-tab>
                   </mat-tab-group>
             
             
             
       
              