<!--search,schools,courses -->

<div fxLayout="column">
    <div fxLayoutAlign="center" fxLayoutAlign.xs="center"   fxLayout="row"  fxLayout.xs="column"fxLayoutGap="1%" fxLayoutGap.xs="1%" > <!--container contain  all divs-->

      <div  fxLayout="column" > <!--div contain search and schools-->

            <div fxLayout="row"  fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" style="margin-top: 10%"  [formGroup]="registrationForm" > <!-- search div-->


                <div fxLayoutAlign="center"  fxFlexOffset="20%" class="form-group" >
                <input type="search"  placeholder="search" id="allinput" required  formControlName="schoolName" class="form-control"    >


                </div>




                 <div fxLayoutAlign="center"  fxFlexOffset="5%" class="form-group" >

                 <select id="allinput"  fxLayoutAlign="center"  formControlName="schoolOption" >
                         <option value="All Categories">All Categories</option>
                         <option value="University">University</option>
                         <option value="Secondary">Secondary</option>
                         <option value="primary">primary</option>
                         <option value="nurses">nurses</option>
                 </select>

                 </div>

                 <div fxLayoutAlign="center"  fxFlexOffset="5%">
                          <button type="submit" class="searchschool" (click)="onSubmit()" >Search</button>
                 </div>





                 </div><!--end of search-->
                 <br>





               <div fxLayoutAlign="center" fxLayout="column" fxLayout.xs="column"  fxFlexOffset="10%" fxLayoutGap="5%" fxLayoutAlign="space-between" ><!-- div contain allschools-->
                       <div fxLayout="row wrap  " fxLayoutGap="10%"   > <!--div contain university-->
                        <mat-card class="example-card"   *ngFor="let college of university | paginate: { itemsPerPage: 3, currentPage: p,   totalItem:4 }"  >

                          <img mat-card-image src="../../assets//download (1).jpeg"  style="height: 120px">homehomehome
                          <mat-card-header fxLayoutAlign="center"  >home

                            <mat-card-title routerLink="/home/{{college.id}}">
                              <a   mat-button>{{college.name}}</a>
                            </mat-card-title>

                          </mat-card-header >
                          <mat-card-content>
                            <div class="mat-body-1">{{college.description}}</div>
                          </mat-card-content>
                          <mat-divider></mat-divider>
                          <div ><!--icon-->
                            <mat-card-actions fxLayout="row" fxLayoutGap="10%"  fxLayoutAlign="center">
                               <button id="collegebutton">more</button>
                              </mat-card-actions>
                          </div>

                        </mat-card>

                       </div><!--end of div contain university-->


                       <div fxLayout="column" fxLayoutGap="10%" ><!--div contain secondary-->
                        <div fxLayout="row wrap " fxLayout.xs="column" fxLayoutGap="10%"><!--div contain secondary card-->


                        <mat-card class="example-card"   *ngFor="let secondary of highSchool  | paginate: { itemsPerPage: 4, currentPage: p,  totalItems:5  }" >

                          <img mat-card-image src="../../assets//download (3).jpeg"  style="height: 120px">
                          <mat-card-header fxLayoutAlign="center">

                            <mat-card-title routerLink="/home/{{secondary.id}}">
                              <a   mat-button>{{secondary.name}}</a>
                            </mat-card-title>


                                        </mat-card-header>
                          <mat-card-content>
                            <div class="mat-body-1">{{secondary.more_information}}</div>
                          </mat-card-content>
                          <mat-divider></mat-divider>
                          <div ><!--icon-->
                            <mat-card-actions fxLayout="row" fxLayoutGap="10%" >
                                <p mat-button><i class="fa fa-graduation-cap"></i>  20 student</p>
                                <p mat-button><i class="fa fa-star"></i> 5 Ratings</p>
                              </mat-card-actions>
                          </div>

                  </mat-card>
                        </div><!--end of div contain secondary card-->



                       </div><!--end of div contain secondary-->

               </div><!--end of school div-->

               <div  fxLayoutAlign="center"style="height: 30px;margin-top: 30%">
                <pagination-controls (pageChange)="p=$event"

                directionLinks="true"
                autoHide="false"
                responsive="false"

                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">

                </pagination-controls>
              </div>


     </div> <!-- end div contain search and schools-->
