

 <div class="card" fxFlex fxLayout="column"  fxFlex fxLayout.xs="column" fxLayoutAlign=" center" fxLayoutAlign.xs=" center"  >
                <mat-card style="width: 400px;height: 400px;margin-top:100px;">
                        
                       
                        <mat-card-content class="content" fxLayout="column " fxLayout.xs="column" fxFlex="80%" fxFlex.xs="80%" fxFlexOffset="10%" fxFlexOffset.xs="10%">
        
                            <mat-card-header>
                        
                                <mat-card-title   id="register"> Login</mat-card-title>
                              
                              </mat-card-header>
                               
                            


                            <div fxLayout="column"    fxLayout.md="column" fxLayoutGap="4%" fxLayoutGap.xs="4%"   fxLyout.xs="column">

                                <div>
                                        <mat-form-field fxFlex floatLabel="never"   appearance="outline">
                            
                                                <mat-label style="color:#22314f"> <i  style="font-size: 15px" class="fa fa-envelope"></i>Email</mat-label>
                                                    <input   matInput required type="email">
                                                    
                                                </mat-form-field>
                                   
                                </div>


                                <div >

                                        <mat-form-field fxFlex fxFlex.xs="100%"  floatLabel="never"   appearance="outline">
                        
                                                <mat-label style="color:#22314f">  <i style="font-size: 15px" class="fa fa-lock" ></i>Password</mat-label>
                                                    <input   matInput required type="email" type="Password">
                                                  
                                                </mat-form-field>
                                </div>

                                   
                        

                                <div fxFlexOffset="-20%" fxFlexOffset.xs="-20%" fxLayoutAlign="center">


                                        <mat-card-actions>
                                                <span>
                                                     <button mat-raised-button disableRipple style="    background-color: rgb(34, 49, 79);
                                                    color: white;
                                                
                                                    place-content: center flex-start;
                                                    align-items: center;
                                                    flex-direction: row;
                                                    box-sizing: border-box;
                                                    display: flex;
                                                    width: 110px;
                                                    margin-top: 20%;
                                                 
                                                    font-size: 20px" fxLayoutAlign="center">Login</button>
                                                </span>
                                              </mat-card-actions>
                                </div>
                                <div  fxFlexOffset="-10%" fxFlexOffset.xs="-10%" fxLayoutAlign="center" fxLayoutAlign.xs="center"  >
                                        <mat-list-item routerLink="/register"  style="color: #22314f;"> Does not have account? </mat-list-item>
                                </div>
                                <div  fxFlexOffset="-4%" fxFlexOffset.xs="-4%" fxLayoutAlign="center" fxLayoutAlign.xs="center">
                                        <mat-list-item routerLink="/forgetpassword"  style="color: #22314f;">Forget Password?</mat-list-item>
                                </div>

                                <div>

                                    
                                </div>
                               
                            </div>
                                        




                                   
                        </mat-card-content>
        
                      
                      </mat-card>
         </div>
        