

<div  style="width: 120%">
                <mat-toolbar fxLayout="row"    class="navbar" style=" background-color: #498aa4;opacity: 1;color: white "    fxLayoutGap="20%"fxFlex="100%">
                
                         <mat-list  fxHide.md=false fxHide.xs=true  class="moves" fxLayoutAlign="center end" fxLayoutGap="0%"   >
                              <mat-list-item>  <a   href="tel:+250722353933 " style=" font-size: 12px;color: white;opacity: 0.9;font-weight:bold;font-style:italic;text-decoration: none;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    font-size: 11px;">    <i class="fa fa-phone"></i> <span></span>+250722353933 </a> </mat-list-item>
                              <mat-list-item >  <a  href="mailto:homer@example.org"  mat-button style=" font-size: 12px;color: white;opacity: 0.9;font-weight:bold;font-style:italic;  font-size: 11px;"><i class="fa fa-envelope"></i>  contact@corelabsplus.com</a></mat-list-item>     
                              <mat-list-item fxHide.md-xs=true >  <a class=" link" href=""  id="face"><i class="fa fa-facebook"></i></a>  </mat-list-item>      
                              <mat-list-item fxHide.md-xs>  <a class=" link" href=""  id="face" ><i class="fa fa-instagram"></i></a></mat-list-item> 
                              <mat-list-item fxHide.md-xs>  <a  class="link" href=""  id="face"><i class="fa fa-twitter"></i></a></mat-list-item>
                      </mat-list>
                     
                 
                
              </mat-toolbar>
              
              
</div>








  